body{
  max-height: 100vh;
  display: grid;
  grid-template-rows: 50px 700px 500px 500px 600px 600px; 
}

img{
  position: absolute;

}

.intro{
  background-color: #f7b617;
  color: white;
  padding: 80px;
  float: right;
  margin-top: 100px;
  position: absolute;
}

h1{
  font-size: 30px;
}

#btn{
  color:black;
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.app{
  background-color: #f7b617; 
  position: relative;
}

.info{
  display: flex;
  padding: 80px;
}

#info{
  padding: 30px;
  color:white;
  padding-right: 450px;
  font-size: 20px;
}

#btn-2{
  background-color: #f7b617;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  opacity: 1;
}

h1, p{
  opacity: 1;
}

#conductor{
  position: absolute;
}

.conductor{
  float: rigth;
}

#conduce{
  color:white;
  position: absolute;
  background-color: black;
  opacity: 0.6;
  padding: 50px;
  margin-left: 60%;
  padding-bottom: 300px;
  padding-top: 200px;
  font-size: 20px;
}

.location{
  background-color: #f7b617;
  position: relative;
  display: grid;
  grid-auto-columns: 50% 50%;
  align-content: center;
}

#tarifa{
  color: white;
  margin-left: 150px;
  font-size: 20px;
}

#textInput{
  border-color: white;
  border-radius: 10px;
  background-color: transparent;
  padding-left: 10px;
  padding-right: 70px;
  margin-bottom: 20px;
}

#btn-3{
  border: none;
  padding: 5px;
}

textarea::placeholder{
  color: white;
}

footer{
  background-color: #2b2b2b;
  position: relative;
}